<div class="button-list" role="button">
  <h3>Transactions</h3><br>
  <table class="table">
    <% @notes.each do |transaction| %>
      <tr>
        <td><%= transaction.transaction_date.strftime("%m-%d-%Y") %></td>
        <td><%= transaction.id%></td>
        <td><%= transaction.explanation %></td>
        <td><%= transaction.transaction_type %></td>
        
        <% if transaction.transaction_type == "Debit" %>
          <td><%= link_to "- (#{number_to_currency(transaction.amount)})", transaction %></td>
        <% else %>
          <td><%= link_to "+ #{number_to_currency(transaction.amount)}", transaction %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<%= will_paginate @notes %> <br>