<p id="notice"><%= notice %></p>
<div class="page-content">
  <h1>All Transactions</h1>
  <div class="page-content-col">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <table>
          <thead>
            <tr>
              <th>Transaction date</th>
              <th>Account</th>
              <th>Explanation</th>
              <th>Amount</th>
              <th>Related Account</th>
              <th>Category</th>
              <th colspan="1"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @notes.each do |transaction| %>
              <tr>
                <td><%= transaction.created_at.strftime("%m-%d-%Y") %></td>
                <td><%= transaction.account.name %></td>
                <td><%= transaction.explanation %></td>
                <td><%= number_to_currency(transaction.amount) %></td>
                <% if transaction.related_account.present? %>
                  <td><%= transaction.related_account.name %></td>
                <% else %>
                  <td>None</td>
                <% end %>
                <td><%= transaction.category %></td>
                <td>
                  <div class="btn-group pull-right">
                    <button class="btn blue btn-xs btn-outline dropdown-toggle" data-toggle="dropdown">Actions</button>
                    <ul class="dropdown-menu pull-right">
                      <li>
                        <%= link_to note_path(transaction) do %>
                            View
                        <% end %>
                      </li>
                      <li>
                        <%= link_to edit_note_path(transaction) do %>
                            Edit
                        <% end %>
                      </li>
                      <li>
                        <%= link_to transaction, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            Delete
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table><br>
        <%= link_to 'Back to Accounts', accounts_path %>
      </div>
    </div>
  </div>
</div>