<%= form_for(@related_account) do |f| %>
  <% if @related_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@related_account.errors.count, "error") %> prohibited this related_account from being saved:</h2>

      <ul>
      <% @related_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :account_type %><br>
    <%= f.text_field :account_type %>
  </div>
  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
