<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank_account.name %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @bank_account.balance %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
