<p id="notice"><%= notice %></p>
<div class="page-content">
  <h3><%= "#{@cash_account.name} Cash   $#{@cash_account.balance}" %></h3>
  
  <%= link_to 'Edit', edit_cash_account_path(@cash_account) %> |
  <%= link_to 'Back', cash_accounts_path %>
  
  <%= render template: "transactions/cash_transactions"  %>
  <br>
</div>