<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :account_type %><br>
    <%= f.select("account_type", ["Bank", "Cash", "Credit Card", "Bill"], {include_blank: '-- Select One --'}, required: true, class: "my-selector") %>
  </div>
  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :minimum_payment %><br>
    <%= f.text_field :minimum_payment %>
  </div>
  <div class="field">
    <%= f.label :credit_limit %><br>
    <%= f.text_field :credit_limit %>
  </div>
  <div class="field">
    <%= f.label :apr, 'APR' %><br>
    <%= f.text_field :apr %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <span class="datetime"><%= f.date_select :due_date, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }, :order => [:day, :month, :year], :start_year => 2017, :end_year => 2022 %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>