<%= render partial: "pages/navigation" %>
<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/flash_messages' %>
    <%= link_to 'Back to Accounts', root_path %> | <%= link_to 'New Account', new_account_path %>
    <div class="button-list">
      <h1>Bills</h1><br>
      <table id="myTable">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Balance</th>
          </tr>
        </thead>
      
        <tbody>
          <% @bills.each do |bill| %>
            <tr>
              <td style="text-align:center"><%= "Paid" if bill.paid? %></td>
              <td><%= link_to bill.name, account_path(bill) %></td>
              <td style="text-align:right"><%= number_to_currency(bill.minimum_payment.abs) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>