<div class="page-content">
  <div class="page-content-col">
    <div class="row">
      <%= render partial: "pages/navigation" %>
      <h3>Credit Cards</h3>
      <div class="col-md-6 col-md-offset-3"><br>
        <% @credit_cards.each do |account| %>
          <a href="<%= account_path(account) %>" class="button-list" role="button">
            <%= "#{account.name}" %><br>
            <%= "#{number_to_currency(account.balance.abs)}" %>
          </a>
        <% end %>
        <%= link_to 'Back to Accounts', root_path %> |
        <%= link_to 'New Account', new_account_path %>
      </div>
    </div>
  </div>
</div>