<%= render partial: "pages/navigation" %><br><br>
<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/flash_messages' %>
    <%= link_to 'New Account', new_account_path %> | 
    <%= link_to 'Home', root_path %>
    <div class="button-list">
      <h1>Accounts</h1><br>
      <table id="myTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Balance</th>
          </tr>
        </thead>
      
        <tbody>
          <% @accounts.each do |account| %>
            <tr>
              <td><%= link_to account.name, account_path(account) %></td>
              <% if account.balance.present? %>
              <td style="text-align:right"><%= number_to_currency(account.balance.abs) %></td>
              <% else %>
              <td style="text-align:right"><%= number_to_currency(account.minimum_payment.abs) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>