<%= render partial: "pages/navigation" %>
<div class="container-fluid">
  <%= render 'shared/flash_messages' %>
  <h3>Loans</h3>
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Back to Accounts', root_path %> |
    <%= link_to 'New Account', new_account_path %>
    <% @loans.each do |account| %>
      <% if account.due_date.between?(Date.today.beginning_of_month, Date.today.end_of_month) && account.minimum_payment > 0 %>
        <a href="<%= account_path(account) %>" class="button-list" role="button">
          <%= "#{account.name}" %><br>
          <%= "#{number_to_currency(account.minimum_payment.abs)}" %>
        </a>
      <% end %>
    <% end %>
  </div>
</div>