<p id="notice"><%= notice %></p>
<div class="page-content">
  <% if @account.account_type == "Cash" || @account.account_type == "Bank" %>
    <h3><%= "#{@account.name}   Balance: $#{@account.balance}" %></h3>
  <% elsif @account.account_type == "Credit Card" || @account.account_type == "Bill"  %>
    <h3><%= "#{@account.name}   Balance: $#{@account.balance}  Due Date: #{@account.due_date.strftime("%m-%d-%Y")}" %></h3>
  <% end %>
<br>
  <div class="page-content-col">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to 'Edit Account', edit_account_path(@account) %> |
      <%= link_to 'Back to Accounts', accounts_path %>
      <%= render template: "transactions/account_transactions" %>
    </div>
  </div>
</div>